body {
    padding: 8px;
}

#popupLien {
    width: 350px;
    display: none;
    position: absolute;
}

#popupCode {
    width: 400px;
    display: none;
    position: absolute;
}

#autresActions {
    padding: 3px 0;
    list-style-type: none;
    display: none;
    cursor: pointer;
    position: absolute;
}

#autresActions li {
    padding: 3px 0.7em;
}
#autresActions li:hover {
    color: rgb(46, 46, 46);
    background: rgb(255, 123, 0);
}
#autresActions .div-indent {
    width: 1.6em;
}